env:
  global:
  - CC_TEST_REPORTER_ID=6883fa6e8b9493573f7c6daeea4c33c0964a07d1b3e87bee799425cd72875a3e
sudo: false
language: ruby
cache: bundler
rvm:
- 2.4.1
- 2.3.5
before_install: gem install bundler -v 1.15.4
before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
  > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"
script:
- bundle exec rspec
after_script:
- "./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"

